---
name: "Update license copyright"
description: "Updates license copyright year(s) in the LICENSE file"
permissions: {}

on:
  schedule:
    - cron: "0 0 1 1 *" # Every year on January 1st
  workflow_dispatch:

jobs:
  update-license:
    name: "Update license"
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: "Update license copyright year(s)"
        id: update_license_copyright_years
        uses: FantasticFiasco/action-update-license-year@d837fc83ecb71196807bdf3854208f556e66f6ed
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branchName: "github-action/update-license-to-{{currentYear}}"
          commitTitle: "docs(license): update copyright year(s)"
          commitAuthorName: "github-actions[bot]"
          commitAuthorEmail: "github-actions[bot]@users.noreply.github.com"
          prTitle: "Update copyright year(s) to {{currentYear}}"
          labels: "bot,github actions"

      - name: "Merge pull request of updated license"
        if: ${{ steps.update_license_copyright_years.outputs.currentYear }}
        run: gh pr merge --merge --delete-branch
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
